<div class="point-detail">
    {{h.mustache('#' + title)}}
      <div class="point-detail-title">{{h.mustache(title)}}</div>
    {{h.mustache('/' + title)}}

    <table>
        {% for field in fields %}
            {{h.mustache('#' + field)}}
                <tr>
                    <th>{{field.title()}}:</th>
                    <td>{{h.mustache(field)}}</td>
                </tr>
            {{h.mustache('/' + field)}}
        {% endfor %}
    </table>

    {{h.mustache('^_multiple')}}
        <div class="point-detail-info">
            <a target="_parent" href="{{h.mustache('_resource_url')}}/record/{{h.mustache('_id')}}">View full record</a>
         </div>
    {{h.mustache('/_multiple')}}

    {{h.mustache('#_multiple')}}
        <div class="point-detail-info">
          {% if overlapping_records_view %}
            <a target="_parent" href="{{h.mustache('_resource_url')}}?view_id={{overlapping_records_view}}&filters={{h.mustache('_overlapping_records_filters')}}">View all records at this location</a>
          {% endif %}
          <p>There are multiple records at this location. The information displayed here is for one of the records only.</p>
        </div>
    {{h.mustache('/_multiple')}}
</div>