{{h.mustache('#multiple')}}
  {{h.mustache('count')}} {{_('records')}}
{{h.mustache('/multiple')}}
{{h.mustache('^multiple')}}
  {{h.mustache('#' + title)}}
    {{h.mustache(title)}}
  {{h.mustache('/' + title)}}
{{h.mustache('/multiple')}}