# resource.config file

[depends]

main = base/main

[groups]

main =
    vendor/jquery/1.7.1/jquery.js
    vendor/underscore/1.4.2/underscore.js
    vendor/backbone/1.0.0/backbone.js
    vendor/mustache/0.5.0-dev/mustache.js
    vendor/leaflet/leaflet-src.js
    vendor/leaflet.utfgrid/leaflet.utfgrid.queue.js
    vendor/leaflet/leaflet.css
    vendor/leaflet.draw/leaflet.draw-src.js
    vendor/leaflet.draw/leaflet.draw.css
    vendor/terraformer/terraformer.js
    vendor/terraformer/terraformer-wkt-parser.js
    vendor/font-awesome/css/font-awesome.css
    scripts/ckanfilterurl.js
    scripts/drawshape_control.js
    scripts/fullscreen_control.js
    scripts/map_view.js
    scripts/maptype_control.js
    scripts/pointinfo_plugin.js
    scripts/sidebar_view.js
    scripts/tiledmap_module.js
    scripts/tooltip_plugin.js
    css/maps.css