# resource.config file

[depends]

main = base/main

[groups]

main =
    scripts/vendor/jquery/1.7.1/jquery.js
    scripts/vendor/underscore/1.4.2/underscore.js
    scripts/vendor/backbone/1.0.0/backbone.js
    scripts/vendor/mustache/0.5.0-dev/mustache.js
    scripts/vendor/leaflet/leaflet-src.js
    scripts/vendor/leaflet/leaflet.utfgrid.js
    scripts/vendor/leaflet/leaflet.css
    scripts/vendor/leaflet/leaflet.draw-src.js
    scripts/vendor/leaflet/leaflet.draw.css
    scripts/vendor/terraformer/terraformer.js
    scripts/vendor/terraformer/terraformer-wkt-parser.js
    scripts/map_view.js
    css/maps.css
