# resource.config file

[groups]

main =
    css/maps.css
    scripts/preview_recline.js
    scripts/vendor/leaflet/leaflet-src.js
    scripts/vendor/leaflet/leaflet.utfgrid.js
    scripts/vendor/leaflet/leaflet.css
    scripts/vendor/leaflet/leaflet.draw-src.js
    scripts/vendor/leaflet/leaflet.draw.css
    scripts/vendor/terraformer/terraformer.js
    scripts/vendor/terraformer/terraformer-wkt-parser.js
    scripts/map_view.js
