div.tiled-map {
  font-size: 13px;
  font-family: "Helvetica Neuee", Helvetica, Arial, sans-serif;
  line-height: 18px;
  color: #333;
}

div.tiled-map a {
    color: #08c;
    text-decoration: none;
}

div.tiled-map a:visited {
    color: #08c;
    text-decoration: none;
}

div.tiled-map a:hover {
    color: #005580;
    text-decoration: underline;
}

div.tiled-map-info{
    padding: 12px;
}

.info {
  color:#555;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  border-radius: 10px;
  width: 300px;
  min-height: 10em;
}

.small-info{
  color:#555;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  border-radius: 10px;
  width: 300px;
  min-height: 2em;
}

.leaflet-container {
  background: #CBE6FE;
}

/* Override the paths to be root-relative, rather than relative to the CSS file */
.leaflet-draw-toolbar a {
    background-image: url('/images/spritesheet.png');
}

.leaflet-retina .leaflet-draw-toolbar a {
    background-image: url('/images/spritesheet-2x.png');
}

.leaflet-bar a.active-selection {
  font-weight: bold;
}

.panel {
  border-radius: 4px;
  box-shadow: 4px 4px 16px 0px #888;
}

.panel.map {
    margin-right: 266px;
    height: 500px;
}

.panel.sidebar {
    float: right;
    width: 230px;
    height: 500px;

    background: #EEE;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

/* Map tooltips */
div.map-hover-tooltip {
  color: #FFF;
  background: #888;
  font-size: 1em;
  padding: 2px;
  border-radius: 2px;
  opacity: 0.9;
}

/* Point info */
div.tiled-map-point-detail {
  padding: 8px;
}

div.point-detail div.point-detail-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

div.point-detail .point-detail-label {
  font-weight: bold;
  display: block;
  float: left;
}

div.point-detail .point-detail-value {
  display: block;
  text-indent: 10px;
  margin-left: 10px;
}

div.point-detail .point-detail-info {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 1em;
}

div.point-detail .point-detail-tree-label {
  color: #888;
  font-size: 0.9em;
}

div.point-detail-tree {
    font-size: 0.9em;
    margin-bottom: 1em;
}

div.point-detail .point-detail-tree-detail:after {
    content: '>';
    font-weight: bold;
}

div.point-detail .point-detail-tree-detail:last-child:after {
    content: '>';
    font-weight: bold;
}